.btn {
  @include typography("label", "md");
  text-decoration: none;
  display: inline-block;
  border: none;
  border-radius: map-get($border-radius-sizes, "pill");
  --btn-padding: #{$spacing-unit * 0.75};
  padding: var(--btn-padding, 0) calc(var(--btn-padding, 0) * 2);
  box-shadow: 0 0 0 var(--outline-size, 0) var(--outline-color, transparent);
  transition: $transition-duration ease;
  transition-property: background-color, color, box-shadow, border-color;

  & > i {
    display: inline-block;
    vertical-align: -0.267em;
    font-size: 1.5em;
  }
}

.btn-sm {
  @extend .btn;
  @include typography("label", "sm");
  --btn-padding: #{$spacing-unit * 0.5};
}
.btn-md {
  @extend .btn;
  @include typography("label", "md");
  --btn-padding: #{$spacing-unit * 0.75};
}
.btn-lg {
  @extend .btn;
  @include typography("label", "lg");
  --btn-padding: #{$spacing-unit * 1.25};
}

.btn-icon {
  @extend .btn;
  padding: var(--btn-padding, 0);
}

$btn-colors: (
  "primary": (
    type: "solid",
    names: btn btn-primary,
    colors: (
      main: $color-brand,
      text: $color-gray,
    ),
  ),
  "light": (
    type: "solid",
    names: btn-light,
    colors: (
      main: $color-light,
      text: $color-gray,
    ),
  ),
  "dark": (
    type: "solid",
    names: btn-dark,
    colors: (
      main: $color-dark,
      text: $color-gray-inverted,
    ),
  ),
  "success": (
    type: "solid",
    names: btn-success,
    colors: (
      main: $color-success,
      text: $color-gray,
    ),
  ),
  "warning": (
    type: "solid",
    names: btn-warning,
    colors: (
      main: $color-warning,
      text: $color-gray,
    ),
  ),
  "danger": (
    type: "solid",
    names: btn-danger,
    colors: (
      "main": $color-danger,
      "text": $color-gray,
    ),
  ),
  "outline-primary": (
    type: "outline",
    names: btn-outline-primary btn-outline,
    colors: (
      "main": $color-brand,
      "text": $color-brand,
    ),
  ),
  "outline-light": (
    type: "outline",
    names: btn-outline-light,
    colors: (
      "main": $color-light,
      "text": $color-light,
    ),
  ),
  "outline-dark": (
    type: "outline",
    names: btn-outline-dark,
    colors: (
      "main": $color-dark,
      "text": $color-dark,
    ),
  ),
  "outline-success": (
    type: "outline",
    names: btn-outline-success,
    colors: (
      "main": $color-success,
      "text": $color-success,
    ),
  ),
  "outline-warning": (
    type: "outline",
    names: btn-outline-warning,
    colors: (
      "main": $color-warning,
      "text": $color-warning,
    ),
  ),
  "outline-danger": (
    type: "outline",
    names: btn-outline-danger,
    colors: (
      "main": $color-danger,
      "text": $color-danger,
    ),
  ),
  "transparent-primary": (
    type: "transparent",
    names: btn-transparent btn-transparent-primary,
    colors: (
      "main": $color-light,
      "text": $color-brand,
    ),
  ),
  "transparent-light": (
    type: "transparent",
    names: btn-transparent-light,
    colors: (
      "main": $color-light,
      "text": $color-light,
    ),
  ),
  "transparent-dark": (
    type: "transparent",
    names: btn-transparent-dark,
    colors: (
      "main": $color-dark,
      "text": $color-dark,
    ),
  ),
  "transparent-success": (
    type: "transparent",
    names: btn-transparent-success,
    colors: (
      "main": $color-success,
      "text": $color-success,
    ),
  ),
  "transparent-warning": (
    type: "transparent",
    names: btn-transparent-warning,
    colors: (
      "main": $color-warning,
      "text": $color-warning,
    ),
  ),
  "transparent-danger": (
    type: "transparent",
    names: btn-transparent-danger,
    colors: (
      "main": $color-danger,
      "text": $color-danger,
    ),
  ),
);

@include btn-color-gen($btn-colors);
