.card {
  @include util($util-borders, "rounded", "3");
  @include util($util-colors, "bg", "500");
  position: relative;
  display: flex;
  flex-direction: column;
}
.card-image {
  @include util($util-borders, "rounded", "2");
  position: relative;
  overflow: hidden;
  & > img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
.card-header {
  @include util($util-spacing, "p", "3");
  @include util($util-borders, "rounded", "3");
  @include util($util-colors, "bg", "600");
  @include util($util-typography, "heading", "6");
}
.card-body {
  @include util($util-spacing, "p", "3");
  @include util($util-typography, "body", "1");
  flex: 1 1 auto;
}

.card-dashed {
  padding: 0;
  @include util($util-borders, "rounded", "3");
  @include util($util-spacing, "py", "2");
  border: 2px dashed map-get($color-brand, "400");
  background: transparent;
}
