$util-colors: (
  "bg": (
    props: background,
    prefix: bg,
    values: (
      "700": map-get($color-background, "700"),
      "600": map-get($color-background, "600"),
      "500": map-get($color-background, "500"),
      "400": map-get($color-background, "400"),
      "300": map-get($color-background, "300"),
      "200": map-get($color-background, "200"),
      "100": map-get($color-background, "100"),
      "50": map-get($color-background, "50"),
      "light": map-get($color-light, "400"),
      "gray": map-get($color-gray, "300"),
      "dark": map-get($color-dark, "400"),
      "primary": map-get($color-brand, "400"),
      "success": map-get($color-success, "400"),
      "warning": map-get($color-warning, "400"),
      "danger": map-get($color-danger, "400"),
      "transparent": transparent,
    ),
  ),
  "text": (
    props: color,
    prefix: text,
    values: (
      "default": map-get($color-gray, "50"),
      "light": map-get($color-light, "400"),
      "gray": map-get($color-gray, "300"),
      "dark": map-get($color-dark, "400"),
      "bg": map-get($color-background, "400"),
      "primary": map-get($color-brand, "400"),
      "success": map-get($color-success, "400"),
      "warning": map-get($color-warning, "400"),
      "danger": map-get($color-danger, "400"),
      "transparent": transparent,
    ),
  ),
  "border": (
    props: border-color,
    prefix: border,
    values: (
      "default": map-get($color-gray, "50"),
      "light": map-get($color-light, "400"),
      "gray": map-get($color-gray, "300"),
      "dark": map-get($color-dark, "400"),
      "bg": map-get($color-background, "400"),
      "primary": map-get($color-brand, "400"),
      "success": map-get($color-success, "400"),
      "warning": map-get($color-warning, "400"),
      "danger": map-get($color-danger, "400"),
      "transparent": transparent,
    ),
  ),
);

@include util-gen($util-colors);
