.nav-sticky {
  z-index: 1;
  position: sticky;
  top: 0;
}
.navlinks {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  & > li {
    display: inline-block;
    & > a:not(.brand-logo) {
      color: $gray-100;
      padding: calc($min-spacer * 5);
      text-decoration: none;
      display: inline-block;
      transition-property: background;
      transition-duration: 100ms;
      &:hover {
        color: $brand-400;
      }
      &:active {
        color: $brand-100;
      }
    }
  }
}
.brand-logo {
  text-decoration: none;
  display: inline-block;
}
