$util-flex: (
  "flex": (
    props: flex,
    prefix: flex,
    responsive: true,
    values: (
      "fill": (
        1 1 auto,
      ),
    ),
  ),
  "align": (
    props: align-items,
    prefix: align,
    values: (
      "center": center,
      "start": flex-start,
      "end": flex-end,
      "stretch": stretch,
      "baseline": baseline,
    ),
  ),
  "align-self": (
    props: align-self,
    prefix: align-self,
    values: (
      "center": center,
      "start": flex-start,
      "end": flex-end,
      "stretch": stretch,
      "baseline": baseline,
    ),
  ),
  "justify": (
    props: justify-content,
    prefix: justify,
    values: (
      "center": center,
      "start": start,
      "end": end,
      "around": space-around,
      "between": space-between,
      "evenly": space-evenly,
    ),
  ),
  "justify-self": (
    props: justify-self,
    prefix: justify-self,
    values: (
      "center": center,
      "start": start,
      "end": end,
      "around": space-around,
      "between": space-between,
      "evenly": space-evenly,
    ),
  ),
  "flex-direction": (
    props: flex-direction,
    prefix: flex,
    values: (
      "column": column,
      "column-reverse": column-reverse,
      "row": row,
      "row-reverse": row-reverse,
    ),
  ),
  "flex-grow": (
    props: flex-grow,
    prefix: flex-grow,
    values: (
      "0": 0,
      "1": 1,
      "2": 2,
      "3": 3,
    ),
  ),
  "flex-shrink": (
    props: flex-shrink,
    prefix: flex-shrink,
    values: (
      "0": 0,
      "1": 1,
      "2": 2,
      "3": 3,
    ),
  ),
  "flex-basis": (
    props: flex-basis,
    prefix: flex-basis,
    responsive: true,
    values: (
      "0": 0%,
      "25": 25%,
      "50": 50%,
      "75": 75%,
      "100": 100%,
    ),
  ),
  "flex-order": (
    props: order,
    prefix: flex-order,
    responsive: true,
    values: (
      "0": 0,
      "1": 1,
      "2": 2,
      "3": 3,
      "4": 4,
      "5": 5,
    ),
  ),
  "flex-wrap": (
    props: flex-wrap,
    prefix: flex,
    responsive: true,
    values: (
      "wrap": wrap,
      "wrap-reverse": wrap-reverse,
      "nowrap": nowrap,
    ),
  ),
);
@include util-gen($util-flex);
