$util-flex: (
  flex: (
    prop: flex,
    prefix: flex,
    responsive: true,
    values: (
      fill: 1 1 auto,
    ),
  ),
  align: (
    prop: align-items,
    prefix: align,
    values: (
      center: center,
      start: flex-start,
      end: flex-end,
      stretch: stretch,
      baseline: baseline,
    ),
  ),
  justify: (
    prop: justify-content,
    prefix: justify,
    values: (
      center: center,
      start: start,
      end: end,
      around: space-around,
      between: space-between,
      evenly: space-evenly,
    ),
  ),
  flex-direction: (
    prop: flex-direction,
    prefix: flex,
    values: (
      column: column,
      column-reverse: column-reverse,
      row: row,
      row-reverse: row-reverse,
    ),
  ),
  flex-grow: (
    prop: flex-grow,
    prefix: flex-grow,
    values: (
      0: 0,
      1: 1,
      2: 2,
      3: 3,
    ),
  ),
  flex-shrink: (
    prop: flex-shrink,
    prefix: flex-shrink,
    values: (
      0: 0,
      1: 1,
      2: 2,
      3: 3,
    ),
  ),
  flex-basis: (
    prop: flex-basis,
    prefix: flex-basis,
    responsive: true,
    values: (
      0: 0%,
      25: 25%,
      50: 50%,
      75: 75%,
      100: 100%,
    ),
  ),
  flex-wrap: (
    prop: flex-wrap,
    prefix: flex,
    responsive: true,
    values: (
      wrap: wrap,
      wrap-reverse: wrap-reverse,
      nowrap: nowrap,
    ),
  ),
);
@include util-gen($util-flex);
