.hover-sm {
  transition: $transition-duration ease box-shadow;
  box-shadow: 0 0 0 var(--outline-size, 0) var(--outline-color, transparent);
  &:hover {
    --outline-size: #{map-get($outline-sizes, "sm")};
    --outline-color: #{transparentize(map-get($color-brand, "400"), 0.5)};
  }
}
.hover,
.hover-md {
  transition: $transition-duration ease box-shadow;
  box-shadow: 0 0 0 var(--outline-size, 0) var(--outline-color, transparent);
  &:hover {
    --outline-size: #{map-get($outline-sizes, "md")};
    --outline-color: #{transparentize(map-get($color-brand, "400"), 0.5)};
  }
}
.hover-lg {
  transition: $transition-duration ease box-shadow;
  box-shadow: 0 0 0 var(--outline-size, 0) var(--outline-color, transparent);
  &:hover {
    --outline-size: #{map-get($outline-sizes, "lg")};
    --outline-color: #{transparentize(map-get($color-brand, "400"), 0.5)};
  }
}
