.container {
  width: 100%;
  max-width: $container-max-width;
  margin: 0 auto;
  padding: 0 calc($padding-unit * 1.5);
}

.sticky {
  z-index: 1;
  position: sticky;
}

.pos-top {
  top: 0;
}
.pos-bottom {
  bottom: 0;
}
.pos-left {
  left: 0;
}
.pos-right {
  right: 0;
}

$util-layout: (
  d: (
    prop: display,
    prefix: "d",
    responsive: true,
    values: (
      "none": none,
      "block": block,
      "flex": flex,
      "grid": grid,
      "inline": inline,
      "inline-block": inline-block,
      "inline-flex": inline-flex,
      "inline-grid": inline-grid,
    ),
  ),
);
@include util-gen($util-layout);
