$util-sizing: (
  "w": (
    props: width,
    prefix: w,
    values: (
      "25": 25%,
      "50": 50%,
      "75": 75%,
      "100": 100%,
      "auto": auto,
    ),
  ),
  "h": (
    props: height,
    prefix: h,
    values: (
      "25": 25%,
      "50": 50%,
      "75": 75%,
      "100": 100%,
      "auto": auto,
    ),
  ),
  "max-w": (
    props: max-width,
    prefix: max-w,
    values: (
      "25": 25%,
      "50": 50%,
      "75": 75%,
      "100": 100%,
      "auto": auto,
    ),
  ),
  "max-h": (
    props: max-height,
    prefix: max-h,
    values: (
      "25": 25%,
      "50": 50%,
      "75": 75%,
      "100": 100%,
      "auto": auto,
    ),
  ),
  "min-vh": (
    props: min-height,
    prefix: min-vh,
    values: (
      "100": 100vh,
      "90": 90vh,
      "80": 80vh,
      "70": 70vh,
      "60": 60vh,
      "50": 50vh,
    ),
  ),
  "min-vw": (
    props: min-width,
    prefix: min-vw,
    values: (
      "100": 100vw,
      "90": 90vw,
      "80": 80vw,
      "70": 70vw,
      "60": 60vw,
      "50": 50vw,
    ),
  ),
  "max-vh": (
    props: max-height,
    prefix: max-vh,
    values: (
      "100": 100vh,
      "90": 90vh,
      "80": 80vh,
      "70": 70vh,
      "60": 60vh,
      "50": 50vh,
    ),
  ),
  "max-vw": (
    props: max-width,
    prefix: max-vw,
    values: (
      "100": 100vw,
      "90": 90vw,
      "80": 80vw,
      "70": 70vw,
      "60": 60vw,
      "50": 50vw,
    ),
  ),
  "max-uw": (
    props: max-width,
    prefix: max-uw,
    values: (
      "1": $size-unit * 1,
      "2": $size-unit * 2,
      "3": $size-unit * 3,
      "4": $size-unit * 4,
      "5": $size-unit * 5,
    ),
  ),
  "ratio": (
    props: aspect-ratio,
    prefix: ratio,
    values: (
      "1x1": calc(1),
      "4x3": calc(4 / 3),
      "16x9": calc(16 / 9),
      "21x9": calc(21 / 9),
    ),
  ),
  "overflow": (
    props: overflow,
    prefix: overflow,
    values: (
      "auto": auto,
      "hidden": hidden,
      "visible": visible,
      "scroll": scroll,
    ),
  ),
  "overflow-x": (
    props: overflow-x,
    prefix: overflow-x,
    values: (
      "auto": auto,
      "hidden": hidden,
      "visible": visible,
      "scroll": scroll,
    ),
  ),
  "overflow-y": (
    props: overflow-y,
    prefix: overflow-y,
    values: (
      "auto": auto,
      "hidden": hidden,
      "visible": visible,
      "scroll": scroll,
    ),
  ),
);
@include util-gen($util-sizing);
