.navbar {
  @include text-label-md;
  z-index: 1;
  position: sticky;
  top: 0;
  background: $background-600;
  transition-property: background;
  transition-duration: 300ms;
}
.navbar-scrolled {
  background: $background-600;
}
.navbar-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navlinks {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  & > li {
    display: inline-block;
  }
}
.navlink {
  color: $gray-100;
  padding: 26px;
  text-decoration: none;
  display: inline-block;
  transition-property: background;
  transition-duration: 100ms;
  &:hover {
    color: $brand-400;
  }
  &:active {
    color: $brand-100;
  }
}
.brand-logo {
  color: $gray-700;
  padding: 10px 26px;
  text-decoration: none;
  display: inline-block;
}
.nav-right {
  padding: 0 26px;
}
