@use "sass:list";
@use "sass:map";

@function url-friendly-color($color) {
  $hex: ie-hex-str($color);
  @return "%23" + str-slice("#{$hex}", 4, -1) + str-slice("#{$hex}", 2, 3);
}

@function strings-join($list, $separator: "-") {
  $result: "";
  $is-first: true;
  @each $string in $list {
    @if $string != "" {
      @if $is-first {
        $result: #{$string};
        $is-first: false;
      } @else {
        $result: #{$result}#{$separator}#{$string};
      }
    }
  }
  @return $result;
}

@function lists2map($keys, $values) {
  $result: ();
  @for $i from 1 through list.length($keys) {
    $j: $i;
    @if $j > list.length($values) {
      $j: list.length($values);
    }

    $result: map.set($result, nth($keys, $i), nth($values, $j));
  }
  @return $result;
}
