.p-0 {
  padding: 0 !important;
}
.p-1 {
  padding: ($min-spacer * 1) !important;
}
.p-2 {
  padding: ($min-spacer * 2) !important;
}
.p-3 {
  padding: ($min-spacer * 3) !important;
}
.p-4 {
  padding: ($min-spacer * 4) !important;
}
.p-5 {
  padding: ($min-spacer * 5) !important;
}
.m-0 {
  margin: 0 !important;
}
.m-1 {
  margin: ($min-spacer * 1) !important;
}
.m-2 {
  margin: ($min-spacer * 2) !important;
}
.m-3 {
  margin: ($min-spacer * 3) !important;
}
.m-4 {
  margin: ($min-spacer * 4) !important;
}
.m-5 {
  margin: ($min-spacer * 5) !important;
}
