.bg-brand {
  background: $brand-400 !important;
}
.bg-transparent {
  background: transparent !important;
}
.bg-700 {
  background: $background-700 !important;
}
.bg-600 {
  background: $background-600 !important;
}
.bg-500 {
  background: $background-500 !important;
}
.bg-400 {
  background: $background-400 !important;
}
.bg-300 {
  background: $background-300 !important;
}
.bg-200 {
  background: $background-200 !important;
}
.bg-100 {
  background: $background-100 !important;
}
.bg-50 {
  background: $background-50 !important;
}

.text-default,
.text-white {
  color: $gray-50 !important;
}
.text-secondary {
  color: $gray-300 !important;
}
.text-black {
  color: $gray-800 !important;
}
.text-primary {
  color: $brand-400 !important;
}
.text-success {
  color: $success-400 !important;
}
.text-warning {
  color: $warning-400 !important;
}
.text-danger {
  color: $danger-400 !important;
}

.border-default {
  border-color: $gray-500 !important;
}
.border-secondary {
  border-color: $gray-300 !important;
}
.border-white {
  border-color: $gray-50 !important;
}
.border-black {
  border-color: $gray-800 !important;
}
.border-primary {
  border-color: $brand-400 !important;
}
.border-success {
  border-color: $success-400 !important;
}
.border-warning {
  border-color: $warning-400 !important;
}
.border-danger {
  border-color: $danger-400 !important;
}
