// Colors
$brand-800: #997f00;
$brand-400: #ffd400;
$brand-200: #ffe14c;
$brand-100: #ffee99;
$danger-800: #821717;
$danger-400: #d92626;
$danger-200: #e05252;
$danger-100: #f0a8a8;
$warning-800: #995c00;
$warning-400: #ff9900;
$warning-200: #ffb84d;
$warning-100: #ffd699;
$success-800: #1b7e51;
$success-400: #2dd287;
$success-200: #6ce0ab;
$success-100: #abedcf;
$info-800: #3d4f8f;
$info-400: #5e7eed;
$info-200: #8ca3f2;
$info-100: #d1dafa;
$background-700: #0c0b0e;
$background-600: #18161b;
$background-500: #25222a;
$background-400: #312e38;
$background-300: #494554;
$background-200: #7a738c;
$background-100: #e4e3e8;
$gray-700: #000000;
$gray-600: #292929;
$gray-500: #545454;
$gray-400: #808080;
$gray-300: #a8a8a8;
$gray-200: #d4d4d4;
$gray-100: #ffffff;

// Utits
$min-spacer: 5px;
$transition-duration: 100ms;
