@mixin btn-solid-variant($color-main, $color-light, $color-dark) {
  color: $gray-800;
  background: $color-main;
  &:hover {
    box-shadow: $box-shadow-size-md transparentize($color-main, 0.5);
  }
  &:active {
    color: $gray-500;
    background: $color-light;
  }
  &:disabled {
    color: $gray-800;
    background: $color-dark;
    box-shadow: none;
  }
}
@mixin btn-outline-variant($color-default, $color-disabled) {
  color: $color-default;
  background: transparent;
  border: $border-width solid $color-default;
  box-shadow: none;
  &:hover {
    color: $color-default;
    border-color: $color-default;
    background: transparentize($color-default, 0.75);
  }
  &:active {
    color: $color-default;
    border-color: $color-default;
    background: transparentize($color-default, 0.5);
  }
  &:disabled {
    color: $color-disabled;
    border-color: $color-disabled;
    background: transparent;
  }
}
@mixin btn {
  @include typography("label-md");
  @include btn-solid-variant($brand-400, $brand-200, $brand-600);
  text-decoration: none;
  display: inline-block;
  border: none;
  border-radius: $border-radius-pill;
  margin: $btn-margin;
  padding: $btn-md-padding $btn-md-padding * 2;
  transition: $transition-duration ease all;
  & > i {
    font-size: $font-size-500;
  }
  // Sizes
  &.btn-sm {
    @include typography("label-sm");
    padding: $btn-sm-padding $btn-sm-padding * 2;
    & > i {
      font-size: $font-size-300;
    }
  }
  &.btn-md {
    @include typography("label-md");
    padding: $btn-md-padding $btn-md-padding * 2;
    & > i {
      font-size: $font-size-500;
    }
  }
  &.btn-lg {
    @include typography("label-lg");
    padding: $btn-lg-padding $btn-lg-padding * 2;
    & > i {
      font-size: $font-size-600;
    }
  }
  // Variants
  &.btn-primary {
    @include btn-solid-variant($brand-400, $brand-200, $brand-600);
  }
  &.btn-secondary {
    @include btn-solid-variant($gray-50, $gray-200, $gray-500);
  }
  &.btn-success {
    @include btn-solid-variant($success-400, $success-200, $success-600);
  }
  &.btn-warning {
    @include btn-solid-variant($warning-400, $warning-200, $warning-600);
  }
  &.btn-danger {
    @include btn-solid-variant($danger-400, $danger-200, $danger-600);
  }
  &.btn-outline,
  &.btn-outline-primary {
    @include btn-outline-variant($brand-400, $brand-600);
  }
  &.btn-outline-secondary {
    @include btn-outline-variant($gray-100, $gray-600);
  }
  &.btn-outline-success {
    @include btn-outline-variant($success-400, $success-600);
  }
  &.btn-outline-warning {
    @include btn-outline-variant($warning-400, $warning-600);
  }
  &.btn-outline-danger {
    @include btn-outline-variant($danger-400, $danger-600);
  }
  &.btn-outline-dark {
    @include btn-outline-variant($background-400, $gray-600);
  }
  &.btn-transparent {
    color: $brand-400;
    background: transparent;
    box-shadow: none;
    text-decoration: underline;
    &:hover,
    &:focus {
      color: $brand-400;
      background: transparentize($gray-50, 0.75);
      border-color: transparent;
    }
    &:active {
      color: $brand-400;
      background: transparentize($gray-50, 0.5);
      border-color: transparent;
    }
    &:disabled {
      color: $brand-600;
      background: transparent;
    }
  }
  &.btn-icon {
    position: relative;
    vertical-align: top;
    padding: $btn-md-padding;
    &::before {
      content: "";
      display: block;
      height: 1.5em;
      width: 1.5em;
    }
    & > i {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &.btn-sm {
      padding: $btn-sm-padding;
    }
    &.btn-md {
      padding: $btn-md-padding;
    }
    &.btn-lg {
      padding: $btn-lg-padding;
    }
  }
}

input[type="button"],
input[type="reset"],
input[type="submit"],
button,
a.btn {
  @include btn;
}
