.card {
  @include util($util-spacing, "p", "3");
  @include util($util-borders, "rounded", "3");
  @include util($util-colors, "bg", "500");
}

.card-white {
  @extend .card;
  @include util($util-colors, "bg", "50");
  @include util($util-colors, "text", "black");
}
.card-black {
  @extend .card;
  @include util($util-colors, "bg", "700");
}

.card-dashed {
  @extend .card;

  padding: 0px;
  background: transparent;
  & > .card-title {
    margin: 0;
    color: $brand-400;
    text-transform: uppercase;
  }
  & > .card-body {
    border: 2px dashed $brand-400;
    border-radius: 8px;
    padding: 20px;
  }
}
