.card {
  @include util($util-spacing, "p", "3");
  @include util($util-borders, "rounded", "3");
  @include util($util-colors, "bg", "500");
  position: relative;

  & > .card-image {
    @include util($util-borders, "rounded", "2");
    position: relative;
    overflow: hidden;
    & > img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.card-dashed {
  @extend .card;
  padding: 0;
  @include util($util-spacing, "py", "2");
  border: 2px dashed map-get($color-brand, "400");
  background: transparent;
}
