.card {
  background: $background-500;
  border-radius: 8px;
  padding: 24px;
  margin: 24px;
  & > .card-icon {
    margin-bottom: 16px;
  }
  & > .card-title {
    @include typography("h5");
    margin-bottom: 16px;
  }
  & > .card-body {
    @include typography("body1");
  }
}

.card-dashed {
  @extend .card;

  padding: 0px;
  background: transparent;
  & > .card-title {
    margin: 0;
    color: $brand-400;
    text-transform: uppercase;
  }
  & > .card-body {
    border: 2px dashed $brand-400;
    border-radius: 8px;
    padding: 20px;
  }
}
