a.brand-logo {
  text-decoration: none;
  display: inline-block;
}
.navlinks {
  margin: 0;
  padding: 0;
  align-items: center;
  & > li {
    display: inline-block;
    & > a {
      @include typography("label-md");
      display: inline-block;
      width: 100%;
      padding: $padding-unit * 1.5;
      color: $gray-100;
      text-decoration: none;
      text-align: center;
      transition: $transition-duration ease all;
      &:hover,
      &.active {
        color: $brand-400;
      }
      &:active {
        color: $brand-200;
      }
    }
  }
}
