.navlinks {
  margin: 0;
  padding: 0;
  align-items: center;
  & > li {
    display: inline-block;
    & > a {
      @include typography("label", "md");
      display: inline-block;
      width: 100%;
      padding: $spacing-unit * 1.5;
      color: map-get($color-gray, "50");
      text-decoration: none;
      text-align: center;
      transition: $transition-duration ease all;
      &:hover,
      &.active {
        color: map-get($color-brand, "400");
      }
      &:active {
        color: map-get($color-brand, "200");
      }
    }
  }
}

.link {
  transition: $transition-duration ease color;
  text-decoration: underline;
  text-underline-offset: 0.1rem;
}

.parent-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: "";
}

$link-colors: (
  "primary": (
    names: link-primary link,
    color: $color-brand,
  ),
  "light": (
    names: link-light,
    color: $color-light,
  ),
  "dark": (
    names: link-dark,
    color: $color-dark,
  ),
  "success": (
    names: link-success,
    color: $color-success,
  ),
  "warning": (
    names: link-warning,
    color: $color-warning,
  ),
  "danger": (
    names: link-danger,
    color: $color-danger,
  ),
);

@include link-color-gen($link-colors);
