.feature-bg-1 {
  // TODO: generate using util-gen
  background-image: url("assets/img/feature-background-1.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

.feature-bg-2 {
  // TODO: generate using util-gen
  background-image: url("assets/img/feature-background-2.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}
