@use "sass:map";
@use "sass:list";

@mixin class-gen($class-name, $props, $value) {
  $prop-map: lists2map($props, $value);
  .#{$class-name} {
    @each $prop, $value in $prop-map {
      #{$prop}: $value !important;
    }
  }
}

@mixin class-gen-responsive($class-name, $props, $value) {
  @each $breakpoint-name, $breakpoint in $grid-breakpoints {
    @media only screen and (min-width: $breakpoint) {
      @include class-gen(
        strings-join($class-name $breakpoint-name),
        $props,
        $value
      );
    }
  }
}

@mixin util-gen($util-defs) {
  @each $util-name, $util-def in $util-defs {
    $props: map.get($util-def, props);
    $prefix: map.get($util-def, prefix);
    $responsive: map.get($util-def, responsive);
    $values: map.get($util-def, values);

    @each $name, $value in $values {
      @include class-gen(strings-join($prefix $name), $props, $value);
    }
  }

  @each $util-name, $util-def in $util-defs {
    $props: map.get($util-def, props);
    $prefix: map.get($util-def, prefix);
    $responsive: map.get($util-def, responsive);
    $values: map.get($util-def, values);

    @if $responsive {
      @each $name, $value in $values {
        @include class-gen-responsive(
          strings-join($prefix $name),
          $props,
          $value
        );
      }
    }
  }
}
