// Colors
$brand-600: hsla(50, 100%, 20%, 1);
$brand-500: hsla(50, 100%, 35%, 1);
$brand-400: hsla(50, 100%, 50%, 1);
$brand-300: hsla(50, 100%, 65%, 1);
$brand-200: hsla(50, 100%, 80%, 1);
$success-600: hsla(153, 65%, 20%, 1);
$success-500: hsla(153, 65%, 35%, 1);
$success-400: hsla(153, 65%, 50%, 1);
$success-300: hsla(153, 65%, 65%, 1);
$success-200: hsla(153, 65%, 80%, 1);
$warning-600: hsla(36, 100%, 20%, 1);
$warning-500: hsla(36, 100%, 35%, 1);
$warning-400: hsla(36, 100%, 50%, 1);
$warning-300: hsla(36, 100%, 65%, 1);
$warning-200: hsla(36, 100%, 80%, 1);
$danger-600: hsla(360, 70%, 20%, 1);
$danger-500: hsla(360, 70%, 35%, 1);
$danger-400: hsla(360, 70%, 50%, 1);
$danger-300: hsla(360, 70%, 60%, 1);
$danger-200: hsla(360, 70%, 80%, 1);
$background-700: hsla(0, 0%, 0%, 1);
$background-600: hsla(258, 10%, 10%, 1);
$background-500: hsla(258, 10%, 15%, 1);
$background-400: hsla(258, 10%, 20%, 1);
$background-300: hsla(258, 10%, 30%, 1);
$background-200: hsla(258, 10%, 50%, 1);
$background-100: hsla(258, 10%, 80%, 1);
$background-50: hsla(0, 0%, 100%, 1);
$gray-800: hsla(0, 0%, 0%, 1);
$gray-700: hsla(0, 0%, 15%, 1);
$gray-600: hsla(0, 0%, 20%, 1);
$gray-500: hsla(0, 0%, 35%, 1);
$gray-400: hsla(0, 0%, 50%, 1);
$gray-300: hsla(0, 0%, 65%, 1);
$gray-200: hsla(0, 0%, 80%, 1);
$gray-100: hsla(0, 0%, 90%, 1);
$gray-50: hsla(0, 0%, 100%, 1);

// Font sizes
$font-size-1000: 9rem;
$font-size-900: 6rem;
$font-size-800: 4.5rem;
$font-size-700: 2.875rem;
$font-size-600: 1.75rem;
$font-size-500: 1.25rem;
$font-size-400: 1rem;
$font-size-300: 0.875rem;
$font-size-200: 0.75rem;
$font-size-100: 0.5rem;

// Spacing
$spacing-unit: 1rem;

// Sizing
$size-unit: 10rem;
$container-max-width: 80rem;

// Grid System
$grid-columns: 12;
$transition-duration: 250ms;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

// Border
$border-width: 0.125rem;
$border-radius-sm: 0.3125rem;
$border-radius-md: 0.625rem;
$border-radius-lg: 1.625rem;
$border-radius-xl: 6.25rem;
$border-radius-pill: 100vmax;

// Components
$btn-margin: 0.25rem;
$btn-sm-padding: 0.25rem;
$btn-md-padding: 0.625rem;
$btn-lg-padding: 1.25rem;
$box-shadow-size-sm: 0 0 0 0.125rem;
$box-shadow-size-md: 0 0 0 0.25rem;
$box-shadow-size-lg: 0 0 0 0.5rem;
$input-padding: 0.3125rem;

// Assets
$bg-images: (
  "feature-1": url("assets/img/feature-background-1.png"),
  "feature-2": url("assets/img/feature-background-2.png"),
  "hero-1": url("assets/img/hero-bg.png"),
  "hero-2": url("assets/svg/hero-bg.svg"),
);
